<body class="bodyflex">
  <div class="flexitem1">
    <h1>
      Our Mission
    </h1>
    <p>
      "Beepi" aims to create a fun and acceptive society by alleviating the
      mental stress from our beneficiaries. "Beepi" QR token will enable our
      beneficiary to travel light and forget the forgot
    </p>
  </div>
  <div class="flexitem2">
    <h1>
      Our Vision
    </h1>
    <p>
      "Beepi" aims to create a fun and acceptive society by alleviating the
      mental stress from our beneficiaries. "Beepi" QR token will enable our
      beneficiary to travel light and forget the forgot
    </p>
  </div>
  <div class="flexitem3">
    <h1>
      Meet The Team
    </h1>
  </div>
</body>
<body class="matCardBody">
  <div class="matcard1">
    <mat-card [style.minHeight]="'350px'">
      <mat-card-content>
        <h1>
          Mavric
        </h1>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matcard1">
    <mat-card [style.minHeight]="'350px'">
      <mat-card-content>
        <h1>
          Keith
        </h1>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matcard1">
    <mat-card [style.minHeight]="'350px'">
      <mat-card-content>
        <h1>
          Junhan
        </h1>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matcard1">
    <mat-card [style.minHeight]="'350px'">
      <mat-card-content>
        <h1>
          Werner
        </h1>
      </mat-card-content>
    </mat-card>
  </div>
</body>
