#homepage {
  margin: 0px;
  background-image: url(src\assets\img\Home1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 37em;
  opacity: 10%;
}

.homelogo {
  position: absolute;
  padding-top: 6em;
  color: #f6f6f6;
  padding-left: 70%;
}

.loginform mat-form-field {
  width: 100%;
}

mat-card mat-card-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

mat-card {
  background-image: url(src\assets\img\BeepiCardBg.jpg);
  background-size: cover;
}

.loginform mat-card-actions button {
  width: 100%;
  display: flex;
}

.MenuButton {
  width: 100px;
  background-color: #7c4131;
  text-align: center;
  padding: 0px;
  margin: 0px;
  align-content: center;
  min-width: 150px;
  font-size: 20px;
}
.bodyflex {
  margin-top: 0px;
}
.flexitem1 {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  font-size: 30px;
  height: 17em;
}
div.flexitem1 h1 {
  font-size: 45px;
  width: 70%;
}
div.flexitem1 p {
  font-size: 20px;
  width: 70%;
}
.flexitem2 {
  padding-top: 50px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #525252;
  color: white;
}
.red {
  color: red;
}
