.pikalogo {
  width: 130px;
  height: 40px;
  align-content: left;
  margin-left: 20px;
}

.mat-toolbar {
  min-height: 50px !important;
  height: 30px !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #7c4131;
}

.Menuspacer {
  flex: 1 1 auto;
  background-color: #7c4131;
  color: #f6f6f6;
  display: flex;
  justify-content: flex-end;
}

.MenuButton {
  width: 100px;
  background-color: #7c4131;
  text-align: center;
  padding: 0px;
  margin-right: 10px;
  align-content: center;
  min-width: 150px;
  font-size: 20px;
}

.MenuButton:hover {
  background-color: #f6f6f6;
  color: #7c4131;
}

.routerdisplay {
  margin-top: 50px;
}
