.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.pikalogo {
  width: 40px;
  height: 40px;
  align-content: left;
}

.mat-raised-button {
  background-color: rgb(124, 49, 49);
}

.drawer-content {
  position: absolute;
  top: 40%;
}

.sidenav {
  flex: 1 0 auto;
  position: absolute;
  background-color: #ffffff;
  border-right: solid 2px #6f0a83a6;
}

mat-toolbar {
  min-height: 50px !important;
  height: 30px !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(124, 49, 49);
}
.container .mat-drawer {
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 200px;
  text-align: left;
}

.spacer {
  flex: 1 1 auto;
  background-color: rgb(124, 49, 49);
  color:white;
}


.mat-menu{
  background-color:rgb(124, 49, 49);
}
.MenuButton{
  width:100px;
  background-color:rgb(124, 49, 49);
  text-align:center;
  padding:0px;
  margin:0px;
  align-content:center;
  min-width:100px;
}

.mat-button:hover {
  background-color: white;
  color: rgb(124, 49, 49);
}


button.mat-menu-item{
  background-color:  rgb(135, 49, 49);
  color:white;  
  line-height: 30px;
  height: 30px;
  margin:0;
}

button.mat-menu-item:hover{
  background-color: white;
  color: rgb(124, 49, 49);
}

