.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.pikalogo{
  width:40px;
  height:40px;

}


.drawer-content{
  position:absolute;
  top:40%;
}

.sidenav{
  flex: 1 0 auto;
  position: absolute;
  background-color: #ffffff; 
  
  border-right: solid 2px #6f0a83a6; 
  
}

.mat-toolbar{
  min-height: 50px !important; 
  height: 30px !important;
  position: fixed;
  top:0;
  left:0;
  right:0;
}
.container .mat-drawer {
 
  
  min-width:200px;
}


.container .mat-drawer .mat-button{
  display:block;
  width:200px;
  text-align: left;
}

.spacer{
  flex: 1 1 auto;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;

 
}

.example-toolbar{
  min-height: 40px !important; 
  height: 30px !important;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
